@charset "UTF-8";
/* HEADER (all pages) */
.header {
  background-color: #2991d6;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
}

.header__marca {
  width: 200px;
  height: auto;
  align-content: center;
}

.header__logo {
  width: 12rem;
  height: auto;
  align-self: center;
  margin-left: 1rem;
}

.header__open {
  display: none;
}

.jam-close-rectangle {
  display: none;
}

.nav {
  padding: 1rem;
  letter-spacing: 2px;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

.nav__item {
  margin-left: 16px;
  font-size: small;
}

.nav__enlace {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.nav__enlace:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: aliceblue;
  /*Animacion de derecha a izquierda*/
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.nav__enlace:hover {
  color: white;
  font-weight: bold;
}

.nav__enlace:hover:after {
  /*Tnimacion de dercha a izquierda*/
  transform-origin: left;
  transform: scaleX(1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1024px;
}

/*ANIMACIÓN DE LOGO EN HEADER*/
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*ANIMACIÓN DE TODOS LOS TÍTULOS DE PÁGINAS*/
.scale-in-center {
  -webkit-animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/*ANIMACIÓN DE BOTÓN "ENVIAR" DE PAGINA CONTACTO*/
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*ANIMACIÓN DE TODOS LAS IMÁGENES DE PÁGINAS*/
.shadow-drop-center {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/*ANIMACIÓN DE LOGO EN FOOTER*/
.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 1.5s both;
  animation: wobble-hor-bottom 1.5s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/*ANIMACIÓN DE .piedeimagen__manuscrita*/
.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* FOOTER (all pages) */
/* APLICANDO MIXING */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2991d6;
  padding: 1rem;
  min-height: 100px;
}

.footer__logo {
  padding: 1rem;
  width: 15rem;
}

.footer__contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 0,8rem;
  width: 12,5rem;
  text-align: center;
  font-size: small;
  color: white;
}

.footer__texto {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 1rem;
  width: 20rem;
  font-size: small;
  color: white;
  line-height: 20px;
  text-align: center;
}

.texto-ideario {
  margin-bottom: 2rem;
}

/* INDEX - MAIN */
.carousel-item img {
  height: 600px;
  object-fit: cover;
  padding-top: 90px;
}

.section1 {
  background-color: #d7e6ef;
  width: 100%;
  height: 800px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagencolegio {
  background-size: 80%;
  align-content: center;
  border-radius: 10px;
}

.piedeimagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/imagenesComprimidas/polygon-scatter-haikei-3.svg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  border: currentColor #2991d6;
}

.piedeimagen__manuscrita {
  font-size: 300%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #2991d6;
  margin: 2rem 2rem 1rem 2rem;
}

.piedeimagen__texto {
  font-size: large;
  color: #52739d;
  padding-bottom: 2rem;
}

.niveles {
  color: #777;
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;
  object-fit: cover;
  padding-top: 4rem;
}

.título__nosotros {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #2991d6;
  margin-bottom: 1rem;
}

/*APLICANDO MIXING - CON MAP-GET*/
.texto__nosotros {
  font-size: large;
  font-family: montserrat;
  margin: 1rem;
  text-align: center;
  color: #777;
  line-height: 2rem;
}

.imagennivel {
  margin: 1rem;
}

/*

.column {
    display:flex;
    color: black;

}





.jardindeinfantes__titulo {
    text-align: center;
    
    font-size: 200%;
    margin: 1rem;
    color: #777;
    margin: 2rem;
    font-size: large;
    font-family: montserrat;
}

.jardindeinfantes {
    flex-direction: column;
    margin: 2rem;
    width: 200%;
    font-family: montserrat;
    line-height: 25px;
    color: #777;

}

.primaria__titulo {
    text-align: center;
    
    font-size: 200%;
    margin: 1rem;
    color: #777;
    margin: 2rem;
    font-size: large;
    font-family: montserrat;
}
.primaria {
    flex-direction: column;
    margin: 2rem;
    width: 200%;
    font-family: montserrat;
    line-height: 25px;
    color: #777;
}

.secundario__titulo {
    text-align: center;
    
    font-size: 200%;
    margin: 1rem;
    color: #777;
    margin: 2rem;
    font-size: large;
    font-family: montserrat;
}

.secundario {
    flex-direction: column;
    margin: 2rem;
    width: 200%;
    font-family: montserrat;
    line-height: 25px;
    color: #777;
}
*/
.contenedordefotos {
  width: 100%;
  height: auto;
}

.fotos {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 8px;
  align-content: space-between;
  column-gap: 1%;
  justify-content: space-between;
  padding: 1rem;
}

.fotos__jardin {
  width: 30%;
  height: auto;
  border-radius: 8px;
}

.fotos__primaria {
  width: 30%;
  height: auto;
  border-radius: 8px;
}

.fotos__secundario {
  width: 30%;
  height: auto;
  border-radius: 8px;
}

.separacion_al_footer {
  height: 8px;
  background-color: #e6f1f2;
}

.historia {
  margin-bottom: 4rem;
}

/* HISTORIA - MAIN */
/*APLICANDO MIXING - CON MAP-GET*/
.subtitulo {
  text-align: center;
  font-size: large;
  font-family: montserrat;
  color: #777;
  margin: 1rem 1rem 2rem 1rem;
  line-height: 2rem;
  font-weight: bold;
}

/*APLICANDO MIXING - CON MAP-GET*/
.texto1 {
  font-size: large;
  font-family: montserrat;
  color: #777;
  margin: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  line-height: 2rem;
}

.contenedorhistoria {
  align-self: center;
}

.historia1 {
  vertical-align: middle;
  width: 70%;
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 8px;
}

.historia2 {
  vertical-align: middle;
  width: 70%;
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 8px;
  justify-items: center;
}

.titulo1 {
  color: #777;
  font-size: x-large;
  font-family: montserrat;
  font-weight: bold;
  margin: 0;
  margin-left: 4rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.subtitulo2 {
  color: #555;
  text-align: left;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: medium;
  font-family: montserrat;
  font-size: 130%;
  margin-bottom: 1rem;
}

.separacion_al_footer {
  height: 8px;
  background-color: #e6f1f2;
}

.imgviaje {
  padding: 10px;
}

.viajes {
  margin-bottom: 5rem;
}

/* VIAJES - MAIN */
.imagenes1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4rem;
  align-items: center;
}

.img1 {
  left: -100%;
  transform: translate(0);
  transition: left 2s;
}

.titulo {
  color: #555;
  text-align: left;
  margin: 1rem;
  font-size: 140%;
  font-family: montserrat;
}

.texto {
  text-align: left;
  font-size: large;
  font-family: montserrat;
  color: #777;
  margin: 2rem;
  line-height: 2rem;
}

.texto__lista {
  text-align: left;
  font-size: large;
  font-family: montserrat;
  color: #555;
  margin: 2rem 2rem 2rem 3rem;
  line-height: 2rem;
}

.titulo__large {
  color: #555;
  margin: 2rem;
  font-size: x-large;
  font-family: montserrat;
}

.travel__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 2rem;
  margin: 4rem 2rem 2rem 2rem;
}

.travel__item {
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.travel__imagen {
  width: 110%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
}

.travel__item:hover .travel__imagen {
  transform: rotate(8deg);
}

.imagenes2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.img3 {
  width: 300px;
}

.img4 {
  width: 300px;
}

.img5 {
  width: 300px;
}

.imagenes3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.img6 {
  width: 300px;
  margin-left: 10rem;
  height: 400px;
}

.img7 {
  width: 300px;
}

.img8 {
  width: 300px;
  margin-right: 10rem;
  height: 500px;
}

.separacion_al_footer {
  height: 8px;
  background-color: #e6f1f2;
}

.contacto, .nosotros, .historia, .viajes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../images/imagenesComprimidas/polygon-scatter-haikei-2.svg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: bottom;
  width: 100%;
  height: 500px;
  padding-top: -200px;
  position: relative;
}

/* CONTACTO - MAIN */
.titulo-contacto, .titulo-nosotros, .titulo-historia, .titulo-viajes {
  text-align: center;
  font-size: 300%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2991d6;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-top: 120px;
  font-weight: bold;
}

.jam-chevrons-down {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 10;
  font-size: xx-large;
  color: #2991d6;
}

.lineaseparadora {
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.label {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  margin-left: 1rem;
}

.input {
  margin-left: 1rem;
  width: 500px;
  height: 30px;
  margin-top: 5px;
  color: #555;
  margin-bottom: 2rem;
}

.input__mensaje {
  margin-left: 1rem;
  width: 500px;
  height: 130px;
  margin-top: 5px;
  color: #555;
  margin-bottom: 2rem;
  text-justify: inter-ideograph;
}

.button {
  color: white;
  background-color: #446084;
  margin-left: 1rem;
  width: 100px;
  height: 40px;
  font: large;
}

.google {
  display: flex;
  margin: 2rem;
  width: 500px;
}

.map__imagen {
  margin-right: 1rem;
  float: right;
  top: 20;
  width: 1100px;
  height: 1100px;
}

.separacion_al_footer {
  height: 8px;
  background-color: #e6f1f2;
  margin-top: 3rem;
}

@media screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
  }
  .imagencolegio {
    width: 100%;
  }
  .section1 {
    height: 100%;
    width: 100%;
  }
  .piedeimagen__manuscrita {
    font-size: x-large;
    margin: 0 auto;
    justify-self: center;
    text-align: center;
  }
  .piedeimagen__texto {
    font-size: medium;
    text-align: center;
  }
  .footer {
    padding: 0;
  }
  .footer__texto {
    font-size: small;
    line-height: 20px;
  }
  .footer__contacto {
    font-size: small;
  }
  .footer__logo {
    width: 200px;
  }
  .main__sistemaeducativo {
    font-size: 100%;
    margin-top: 4rem;
  }
  .jardindeinfantes__titulo {
    font-size: medium;
  }
  .jardindeinfantes {
    font-size: medium;
  }
  .primaria__titulo {
    font-size: medium;
  }
  .secundario__titulo {
    font-size: medium;
  }
  .fotos {
    justify-content: space-between;
    justify-items: center;
    width: 100%;
  }
  .fotos__jardin {
    width: 30%;
    height: 30%;
  }
  .fotos__primaria {
    width: 30%;
    height: 30%;
  }
  .fotos__secundario {
    width: 30%;
    height: 30%;
  }
  .historia {
    font-size: 100%;
    margin-top: 4rem;
  }
  .subtitulo {
    font-size: small;
  }
  .texto1 {
    font-size: small;
  }
  .titulo1 {
    font-size: 100%;
  }
  .subtitulo2 {
    font-size: small;
  }
  .historia1 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: table-cell;
    vertical-align: middle;
  }
  .historia2 {
    width: 500px;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: table-cell;
    vertical-align: middle;
  }
  .contenedor {
    width: 100%;
  }
  .viajes {
    font-size: 100%;
    margin-top: 4rem;
  }
  .imagenes1 {
    position: relative;
    justify-self: center;
    height: auto;
    align-items: center;
  }
  .img1 {
    width: 40%;
    height: auto;
  }
  .img2 {
    width: 40%;
    height: auto;
  }
  .titulo {
    font-size: medium;
  }
  .titulo__large {
    font-size: medium;
  }
  .texto {
    font-size: small;
  }
  .texto__lista {
    font-size: small;
  }
  .travel__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 300px);
    gap: 3rem;
  }
  .travel__imagen {
    width: 30%;
    gap: 3rem;
    height: auto;
  }
  .contacto, .nosotros, .historia, .viajes {
    margin-top: 5rem;
    height: 400px;
  }
  .titulo-contacto, .titulo-nosotros, .titulo-historia, .titulo-viajes {
    font-size: 150%;
    text-align: center;
  }
  .jam-chevrons-down {
    font-size: larger;
  }
  .form {
    width: 800px;
    align-self: center;
  }
  .label {
    font-size: small;
    align-self: flex-start;
    margin-left: 6rem;
  }
  .input {
    width: 80%;
    align-self: center;
  }
  .input__mensaje {
    width: 80%;
    align-self: center;
  }
  .button {
    width: 15rem;
    font-size: small;
    align-self: center;
    height: 3rem;
  }
  .google {
    width: 100%;
    margin: 1rem;
    justify-self: center;
  }
  .google__maps {
    width: 100%;
    justify-self: center;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  .contacto__row {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .contacto, .nosotros, .historia, .viajes {
    height: 300px;
    background-image: url(/images/imagenesComprimidas/polygon-scatter-haikei-mobile.svg);
    background-position: left;
    background-repeat: repeat;
    object-fit: cover;
  }
  .titulo-contacto, .titulo-nosotros, .titulo-historia, .titulo-viajes {
    font-size: x-large;
    padding-bottom: 7rem;
  }
  .btn {
    margin-bottom: 2rem;
  }
  .texto__texto {
    font-size: x-small;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0;
  }
  .texto__ideario {
    font-size: small;
    font-weight: bold;
    padding-top: 1rem;
  }
  .footer__contacto {
    font-size: x-small;
    padding-top: 0;
  }
  .footer__logo {
    width: 150px;
    padding-bottom: 2rem;
  }
  .nav {
    display: none;
  }
  .header {
    width: 100%;
    flex-direction: row;
    height: 90px;
  }
  .header__open {
    margin-right: 1rem;
    display: block;
    font-size: 32px;
    color: white;
    text-decoration: none;
  }
  .header__logo {
    width: 70%;
    height: auto;
    margin-left: 1rem;
  }
  .imagencolegio {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  .main {
    height: 100%;
    min-height: 0;
  }
  .section1 {
    height: 130%;
    width: 100%;
  }
  .piedeimagen {
    width: 100%;
  }
  .piedeimagen__manuscrita {
    font-size: 20px;
    width: auto;
    text-align: center;
  }
  .piedeimagen__texto {
    font-size: small;
    text-align: center;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .column {
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
  }
  .secundario {
    margin: 2rem;
  }
  .secundario__titulo {
    margin: 1rem;
  }
  .fotos {
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    gap: 1rem;
  }
  .fotos__jardin {
    width: 80%;
  }
  .fotos__primaria {
    width: 80%;
  }
  .fotos__secundario {
    width: 80%;
  }
  .imagenes1 {
    margin: 0 auto;
  }
  .travel__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 300px);
  }
  .travel__imagen {
    flex-direction: column;
  }
  .form {
    width: 500px;
    align-self: center;
    text-align: start;
  }
  .label {
    font-size: small;
    align-self: flex-start;
    margin-left: 4rem;
  }
  .input {
    width: 80%;
    align-self: center;
  }
  .input__mensaje {
    width: 80%;
    align-self: center;
  }
  .imagenes1 {
    flex-direction: column;
    align-content: center;
  }
  .historia2 {
    width: 70%;
    height: auto;
  }
  .img1 {
    width: 85%;
    margin-bottom: 1rem;
    margin-top: 0%;
  }
  .img2 {
    width: 85%;
    margin-bottom: 2rem;
  }
  .jam-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #lateral {
    display: block;
    background: #446084;
    background-image: linear-gradient(to bottom, #446084, #d7e6ef);
    background-image: linear-gradient(to bottom, #2991d6, #d7e6ef);
    width: 70%;
    height: 100vh;
    opacity: 0.96;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: right 1s;
    padding-left: 5%;
    padding-top: 5%;
  }
  #lateral:target {
    right: 0;
    display: block;
  }
  .nav__lista {
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    padding-left: 0;
    line-height: 2.5rem;
  }
  .jam-menu:hover {
    color: white;
  }
  .jam-close-rectangle {
    font-size: x-large;
    display: block;
  }
  .nav__enlace {
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
/*# sourceMappingURL=estilos.css.map */