
/* FOOTER (all pages) */ 


/* APLICANDO MIXING */ 
.footer {
    @include generarFlex (flex, row, space-around, center);
    background-color: $color-principal;
    padding: 1rem;
    min-height: 100px;

    &__logo {
        padding: 1rem;
       width: 15rem;
    
       
    }
    
    &__contacto {
        @include generarFlex (flex, column, center, center);
        margin: 1rem;
        gap: 0,8rem;
        width: 12,5rem;
        text-align: center;
        font-size: small;
        color: white;
       
    }
    
    &__texto {
        @include generarFlex (inline-block, column, center, center);
        display: inline-block;
        margin: 1rem;
        width: 20rem;
        font-size: small;
        color: white;
        line-height: 20px;
        text-align: center;
       
    }

}

.texto-ideario {
    margin-bottom: 2rem;
}


