.historia {
    @extend .contacto;
    margin-bottom: 4rem;
}



/* HISTORIA - MAIN */ 
.titulo-historia {
    @extend .titulo-contacto

}

/*APLICANDO MIXING - CON MAP-GET*/

.subtitulo {
    text-align: map-get($estilos, centro);
    font-size: map-get($estilos, tFuente);
    font-family: montserrat;
    color: map-get($estilos, color);
    margin: 1rem 1rem 2rem 1rem;
    line-height: map-get($estilos, interlineado);
    font-weight: bold;
}


 
/*APLICANDO MIXING - CON MAP-GET*/

.texto1 {
    text-align: map-get($estilos, left);
    font-size: map-get($estilos, tFuente);
    font-family: montserrat;
    color: map-get($estilos, color);
    margin-bottom: 2rem;
    line-height: map-get($estilos, interlineado);
    width: 45%;
    margin-left: 2rem;
}

.contenedorhistoria {
    align-self: center;
    text-align: center;
}

.historia1 {
    vertical-align: middle;
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
  
}

.historia2 {
    vertical-align: middle;
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    justify-items: center;
}

.fila {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    text-align: left;

}


.titulo1 {
    color: $color-principal;
    text-align: map-get($estilos, left);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    margin-left: 4rem;
    margin-bottom: 2rem;
    text-align: center;

}

.subtitulo2 {
    color: map-get($estilos, color);
    text-align: center;
    margin-left: 4rem;
    font-size: medium;
    font-family: montserrat;
    font-size: 20px;
    margin-bottom: 4rem;
    margin-left: 0;

}

.subtitulo2--4 {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.fila--1 {
    margin-top: 1rem;
}

.separacion_al_footer {
    height: 8px;
    background-color: rgb(230, 241, 242);
}



.columnahistoria {
    display: flex;
    flex-direction: row;
}



.subtitulo3 {
    color: map-get($estilos, color);
    text-align: left;
    margin-left: 4rem;
    font-size: medium;
    font-family: montserrat;
    font-size: 20px;
    margin-left: 0;
    font-size: 15px;
}