/* INDEX - MAIN */ 

.carousel-item img {
    height: 600px;
    object-fit: cover;
    padding-top: 90px;
}

.section1 {
    background-color:   #d7e6ef;
    width: 100%;
    height: 800px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imagencolegio {
    background-size: 80%;
    align-content: center;
    border-radius: 10px;

}



.piedeimagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border: currentColor $color-principal;
    background-color: lightblue;

    &__manuscrita {
      font-size: 300%;
      font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: $color-principal;
      margin: 2rem 2rem 1rem 2rem;
      
    
  }
  
  &__texto {
      font-size: large;
      color: #52739d;
     
  }

}

.video {
    display: block;
    width: 100%;
    height: 40%;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    padding-bottom: 1.5rem;


}

.video__reproductor {
    width: 80%;
    height: 400px;
    padding-top: 2rem;
    
}
